body {
	font-family: 'Pathway Gothic One', sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	color: #000;
}

.full {
  background: url(../images/hero-cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;  
          position: relative;     
}

/*Navbar Reset*/
.nav, .navbar-nav, .navbar, .navbar-inverse, .navbar-fixed-bottom, .navbar-header{
	background-color: #2DAEE2;
	border: none;
	}

.navbar-inverse{
box-shadow: 30px 40px 30px 40px rgba(0, 0, 0, 0.3); 
}

.navbar-nav{
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	font-weight: 200;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #ffd754;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ffffff;
}
.navbar-brand {
	font-family: 'Sail', cursive;
	font-size: 2.2em;
	margin: 0 auto;
	color: #fff;
	opacity: 0.7;
}
.navbar-toggle {
	border: none;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
} /*Navbar Reset*/

/*Quote*/
h1.title {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: .5em;
	color: #ffffff;
	text-transform: uppercase;
	display: relative;
}
.quote {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #ffffff;
	line-height: 1.2em;
	font-size: 3em;
	justify-content: space-between;
	float: right;
}/*Quote*/

/*Media Queries*/
@media only screen and (min-width: 569px) and (max-width: 767px) {
  .quote {
  	margin-top: 300px;
    display: inline-block !important;
    font-size: 1.2em;
    padding-left: 80px;
  }
}

@media only screen and (min-width: 569px) and (max-width: 767px) and (orientation: landscape){
	.quote {
  	margin-top: 10px;
    display: inline-block !important;
    font-size: 1.2em;
    padding-left: 340px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .quote {
  	margin-top: 100px;
    display: inline-block !important;
    font-size: 1.2em;
    padding-left: 145px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape){
	.quote {
  	margin-top: 10px;
    display: inline-block !important;
    font-size: 1.2em;
    padding-left: 275px;
  }
}
